<div class="wallpaper">
</div>
<section class="start">
  <%= link_to new_game_path do %>
    <img src="images/off-side-logo.png">
  <% end %>
</section>
<footer>
  <img src="images/simplificator-logo.png">
</footer>
