<div class="wallpaper">
</div>
  <header>
    <h1>SELECT PLAYERS</h1>
  </header>
  <slots>
    <div class="left-red">
      <div class="slot" id="slot1"></div>
      <div class="slot" id="slot2"></div>
    </div>
    <div class="field">
      <img src="images/field.png">
    </div>
    <div class="right-blue">
      <div class="slot" id="slot3"></div>
      <div class="slot" id="slot4"></div>
    </div>
  </slots>
  <players>
    <div class="allplayers">
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
      <div class="player"></div>
    </div>
  </players>