<div class="wallpaper-victory">
</div>
<header>
  <h1>WELL DONE!</h1>
</header>
<winners>
  <div class="winner"></div>
  <div class="winner"></div>
</winners>
<section class="badge">
  <img src="images/badge.png">
</section>