* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

body {
  background-color: #00a200;
  font-size: 1em;
  font-family: Helvetica, Arial, Sans-Serif;
  color:#fff;
  margin:0;
  padding:0;
  height:100%;
}

table {
  border: none;
}

td {
  text-align: center;
}

.red {
  background-color: #F42322;
}

.blue {
  background-color: #1072B3;
}

ul {
  list-style-type: none;
}

ul.players {
  padding: 2em 3em;
  li {
    padding: 0.3em;
    display: inline-block
  }
}

footer {
  margin:30px;
  text-align: center;
}

footer img {
  width: 150px; 
}

.wallpaper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00a200;
  z-index: -10;
  box-shadow: inset 1px 1px 150px rgba(0, 0, 0, 0.3);
}

.wallpaper-victory {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: #1a73b1;
  background-image: url(images/bg-badge.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  z-index:-10;
  box-shadow: inset 1px 1px 150px rgba(0, 0, 0, 0.3);
}

.start {
  padding: 50px;
  margin: 0 auto;
  text-align: center;
      }
.start img {
  width: 300px;
      }

  .player-fallback-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #fec52d;
  font-size: 74%;
  text-align: center;
  display: inline-block;
}

img.img-circle {
  border-radius: 50%;
}


header {
  height: 150px;
}

slots {
  display: flex;
  width: 100%;
}

.left-red, .right-blue, .field {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.allplayers {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom:20px;
}

.left-red > div {
  background: #f1272d;
}
.right-blue > div {
  background: #1a73b1;
}

.slot {
  font-size: 30pt;
  color: white;
  border-radius: 60px;
  border: 3px solid #fff ;
  height: 70px;
  width:70px;
  margin: 20px;
}

players {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom:20px;
}

.player {
  color: white;
  border-radius: 50px;
  border: 3px solid #fff ;
  height: 50px;
  width:50px;
  margin: 7px;
}

winners {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom:20px;
}

.winner {
  color: white;
  border-radius: 50px;
  border: 3px solid #fff ;
  height: 70px;
  width:70px;
  margin: 7px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 3em;
  padding-top:50px;
  margin:0;
}

.field img {
  width: 200px;
}

.badge {
        width: 100%;
      }

.badge img {
  width: 100%;
}


.kick-off-button {
  font-size: 3rem;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 17px;
  margin-top: 1em;
  text-decoration: none;
  background-color: transparent;

}

.center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

button {
  background-color: transparent;
  border-width: 0;
  font-size: 32px;
}

.hidden {
  display: none;
  * { display: none };
}

.nonvisible {
  visibility: hidden;
   * { display: none };
 }
